
{{> navbar}}
<div class="columns is-centered animate__animated animate__fadeInDown">
  <div class="column has-text-centered is-four-fifths">
    <div class="card">
      <div class="card-content is-full">
        <!---->
        <article class="message is-link">
          <div class="message-header">
            <p class="is-italic" id="title_message"></p>
          </div>
        </article>
        <!---->
      </div>
    </div>
  </div>
</div>

<div class="columns is-centered mt-9 animate__animated animate__fadeInDown">
  <div class="column has-text-centered is-10">
    <div class="column">
      <div class="card">
        <div class="card-content is-full">
          <!---------------->
          <div class="column has-text-centered">
            <div  class="columns is-narrow is-radiusless"  style="background-color: hsl(229, 53%, 53%)"  >
              <div  class="column is-two-thirds is-size-6 has-text-centered has-text-weight-bold has-text-white" style="margin-left: 3%"  >
                Estos son los Equipos del Torneo de programación de la
                Universidad el Bosque
              </div>
              <button  class="button is-primary is-rounded is-normal" style="margin-top: 0.4%; margin-left: 5%" >
                Descargar CSV
              </button>
            </div>
            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" >
              <thead>
                <tr>
                  <th><abbr title="#">#</abbr></th>
                  <th><abbr title="Team">Equipo</abbr></th>
                  <th><abbr title="Capitan">Capitan</abbr></th>
                  <th><abbr title="Integrante1">Integrante #1</abbr></th>
                  <th><abbr title="Integrante2">Integrante #2</abbr></th>
                  <th><abbr title="InAction">Acción</abbr></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>1</th>
                  <td>Real Madrid</td>
                  <td>Cristian Sanchez</td>
                  <td>Esteban Cardenas</td>
                  <td>David Leonardo</td>
                  <td>
                    <button class="button is-danger is-small is-rounded">
                      <span>Delete</span>
                    </button>
                  </td>
                </tr>
                <tr>
                  <th>2</th>
                  <td>Manchester United</td>
                  <td>Jorge Ramirez</td>
                  <td>Julian Silva</td>
                  <td>Juan Manuel Perez</td>
                  <td>
                    <button class="button is-danger is-small is-rounded">
                      <span>Delete</span>
                    </button>
                  </td>
                </tr>
                <tr>
                  <th>3</th>
                  <td>FC Barcelona</td>
                  <td>Nicolas Bermudez</td>
                  <td>Galindo Estefania</td>
                  <td>Andres Nuñez</td>
                  <td>
                    <button class="button is-danger is-small is-rounded">
                      <span>Delete</span>
                    </button>
                  </td>
                </tr>
                <tr>
                  <th>4</th>
                  <td>Liverpool</td>
                  <td>Edgar Apellido</td>
                  <td>Juan Felipe Ruiz</td>
                  <td>Andres Felipe Galvis</td>
                  <td>
                    <button class="button is-danger is-small is-rounded">
                      <span>Delete</span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!----->
        </div>
      </div>
    </div>
  </div>
</div>


<script>
    const title_message = document.getElementById('title_message');
    const message_body = document.getElementById('message_body');
    localStorage.setItem('token', '{{token}}');
    
    const user = {
        name: '{{user.first_name}}' + ' {{user.last_name}}',
        email: '{{user.email}}',
        id: '{{user.id}}',
        type: '{{user.type}}',
    }

    localStorage.setItem('user', JSON.stringify(user));
    title_message.innerHTML = 'Bienvenido ' + user.name + ': Administrador';

    var dropdown = document.querySelector('.dropdown');
    dropdown.addEventListener('click', function(event) {
    event.stopPropagation();
    dropdown.classList.toggle('is-active');
});
</script>
