
{{> navbar}}
<div class="columns is-centered animate__animated animate__fadeInDown">
  <div class="column has-text-centered is-four-fifths">
    <div class="card">
      <div class="card-content is-full">
        <!---->
        <article class="message is-link">
          <div class="message-header">
            <p class="is-italic" id="title_message"></p>
          </div>
        </article>
        <!---->
      </div>
    </div>
  </div>
</div>

<div class="columns is-centered mt-9 animate__animated animate__fadeInDown">
  <div class="column has-text-centered is-10">
    <div class="column">
      <div class="card">
        <div class="card-content is-full">
          <!---------------->
          <div class="column has-text-centered">
            <div  class="columns is-narrow is-radiusless"  style="background-color: hsl(229, 53%, 53%)"  >
              <div  class="column is-two-thirds is-size-6 has-text-centered has-text-weight-bold has-text-white" style="margin-left: 3%"  >
                Estos son los Equipos del Torneo de programación de la
                Universidad el Bosque
              </div>
              <button  class="button is-primary is-rounded is-normal" style="margin-top: 0.4%; margin-left: 5%" id="CSV-Download">
                Descargar CSV
              </button>
            </div>
            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" >
              <thead>
                <tr>
                  <th><abbr title="#">#</abbr></th>
                  <th><abbr title="Team">Equipo</abbr></th>
                  <th><abbr title="Capitan">Capitan</abbr></th>
                  <th><abbr title="Integrante1">Integrante #1</abbr></th>
                  <th><abbr title="Integrante2">Integrante #2</abbr></th>
                  <th><abbr title="InAction">Acción</abbr></th>
                </tr>
              </thead>
              <tbody id="teams-data" >
                
              </tbody>
            </table>
          </div>
          <!----->
        </div>
      </div>
    </div>
  </div>
</div>


<script>
    const title_message = document.getElementById('title_message');
    const message_body = document.getElementById('message_body');
    localStorage.setItem('token', '{{token}}');
    
    const user = {
        name: '{{user.first_name}}' + ' {{user.last_name}}',
        email: '{{user.email}}',
        id: '{{user.id}}',
        type: '{{user.type}}',
    }
    localStorage.setItem('user', JSON.stringify(user));
    title_message.innerHTML = 'Bienvenido ' + user.name + ': Administrador';

</script>
<script>
  const url = '/admin/teams';
  let teams;
  let teams_data;
  const options = {
    method: 'GET',
      headers: {
        'Content-Type': 'application/json'
        },
  };
  //fetch y traer datos
  fetch(url, options)
  .then(response => response.json())
  .then(data => {
     teams = data.Teams;
     teams_data = document.getElementById('teams-data');
     let contador = 0;
  for(let tem of teams){
    let capitan = 'No hay Capitan';
    let competidor = [];
    contador++;
    for(let dat of tem.data){
      if(dat.rol == 'Capitan'){
        capitan = dat.name + ' ' + dat.last_name;
      }
      if(dat.rol == 'Competidor'){
        competidor.push(dat.name + ' ' + dat.last_name);
      }
    }
    if(competidor.length == 0){
      competidor.push('No hay competidor #1');
      competidor.push('No hay competidor #2');
    }
    if(competidor.length == 1){
      competidor.push('No hay competidor #2');

    }
    const tr = document.createElement('tr');
      tr.innerHTML = `
        <th>${contador}</th>
        <td>${tem.team_name}</td>
        <td>${capitan}</td>
        <td>${competidor[0]}</td>
        <td>${competidor[1]}</td>
        <td>
          <button class="button is-danger is-small is-rounded" id="delete_${tem.team_id}" >
            <span>Delete</span>
          </button>
        </td>
      `;
      teams_data.appendChild(tr);

      const delete_button = document.getElementById(`delete_${tem.team_id}`);
      delete_button.addEventListener('click', () => {
        const url = `/admin/deleteTeam/${tem.team_id}`;
        const options = {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
        };
        fetch(url, options)
        .then(response => response.json())
        .then(data => {
          if(data.ok == true){
            window.location.reload();
          }
        })
      })
  }
  })
  
</script>
<script>
  const urlPath = '/admin/csv';
  const optionsC = {
    method: 'GET',
      headers: {
        'Content-Type': 'application/json'
        },
  };
  //fetch y traer datos
  fetch(urlPath, optionsC)
  .then(response => response.json())
  .then(data => {
     const  pathCSV = data.path;
     const button = document.getElementById('CSV-Download');
      button.addEventListener('click', () => {
        window.location.href = pathCSV;
      });
  })
</script>

