{{> navbar}}
<div class="columns is-centered mt-6 animate__animated animate__fadeInDown">
    <div class="column has-text-centered is-three-quarters">
        <article class="message is-success">
            <div class="message-header">
                <p id="title_message"></p>
            </div>
            <div class="message-body" id="message_body">

            </div>
        </article>
    </div>
</div>
<div class="columns is-centered mt-6 animate__animated animate__fadeInDown">
    <div class="column has-text-centered is-four-fifths">
        <div class="columns">
            <div class="column full">
                <div class="card" id="panel_team">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">
                                    <a>Opciones equipo</a>
                                </p>
                                <p class="subtitle is-6">
                                    Aqui puedes ver la informaciond de tu equipo o bien crear un nuevo equipo
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{#if token}}
<script>
    const title_message = document.getElementById('title_message');
    const message_body = document.getElementById('message_body');
    const token = localStorage.setItem('token', '{{token}}');
    const user = {
        name: '{{user.first_name}}' + ' {{user.last_name}}',
        email: '{{user.email}}',
        id: '{{user.id}}',
        type: '{{user.type}}',
    }
    localStorage.setItem('user', JSON.stringify(user));
    title_message.innerHTML = 'Bienvenido ' + user.name;
    message_body.innerHTML = "Enhorabuena estas en el torneo de programacion organizado por la uiniversidad el bosque, a continuación podras encontrar las siguientes opciones:";
</script>
{{else}}
<script>
    const title_message = document.getElementById('title_message');
    const message_body = document.getElementById('message_body');
    const user = JSON.parse(localStorage.getItem('user'));
    title_message.innerHTML = 'Bienvenido' + user.name;
    message_body.innerHTML = "Enhorabuena estas en el torneo de programacion organizado por la uiniversidad el bosque, a continuación podras encontrar las siguientes opciones:";
</script>
{{/if}}

<script>
    const panel_team = document.getElementById('panel_team');
    panel_team.addEventListener('click', function () {
        window.location.href = '/view/team';
    });
</script>